[run]
omit =
    */tests/*
    */__init__.py
    app/services/booking_service.py:*notify_master_about_booking*
    app/services/booking_service.py:*notify_parties_about_booking*

[report]
show_missing = True
skip_covered = True
